:root {
  --base-bg-color: #ffffff;
  --base-f-color: #111216;
  --border-light-gray: rgb(236, 236, 236);
  --gray: rgb(139, 139, 148);
  --light-gray: rgb(170, 170, 179);
  --light-green: #86cecb;
}
