.container {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 3.5rem 1.5rem;
}

.playerContainer {
  width: 100%;
  max-width: 800px;
}

.playlist {
  width: 300px;
  margin-left: 32px;
}

.sumitButton {
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  background-color: rgb(68, 142, 255);
  border-radius: 8px;
}

.videoItem {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: rgba(224, 224, 224, 0.3);
  }
}
